body {
  margin: 10px;
  background-color: black;
  text-align: center;
  color: white;
}
}
#dol {
  font-size: 12px;
  bottom: 10;
  left: 10;
  color: rgb(100, 100, 100);
}
#glowna {
  font-size: 40px;
  font-family: darabka;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
}

.button {
  border: 2px;
  border-style: solid;
  border-color: white;
  color: white;
  border-radius: 20px;
  background-color: #800000;
  font-family: darabka;
  font-weight: bold;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
td {
  border: 1px solid white;
  text-align: center;
  padding: 5px;
  color: white;
}
.fixed {
  position: fixed; /* Ustala pozycję tekstu jako stałą */
  top: 0; /* Przykleja tekst do górnej krawędzi */
  left: 0;
  width: 100%; /* Ustawia szerokość na całą szerokość strony */
  color: black; /* Kolor tekstu */
  font-size: 30px; /* Rozmiar czcionki */
  padding: 10px 0; /* Odstępy wokół tekstu */
  z-index: 1000; /* Zwiększa priorytet, aby tekst nie był przykryty innymi elementami */
}
.fix {
  position: fixed; /* Ustala pozycję tekstu jako stałą */
  top: 10px; /* Przykleja tekst do górnej krawędzi */
  left: 10px;
#roundButton {
            background-color: #96D9FF;
            margin-bottom: 20px;
            height: 50px;
            border-radius: 50px;
            border: 10px solid #0065A6;
            outline: none;
            transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
            font-family: darabka;
            font-size: 20px;
        }

        #roundButton:hover {
            background-color: #96D9FF;
            cursor: pointer;
            border-color: #003557;
            transform: scale(1.2, 1.2);
        }

        #roundButton:active {
            border-color: #003557;
            background-color: #FFF;
        }

        #flyoutMenu {
            width: 100vw;
            height: 100vh;
            background-color: darkred;
            position: fixed;
            top: 0;
            left: 0;
            transform: translate3d(-100vw, 0, 0);
            transition: transform .3s cubic-bezier(0, .52, 0, 1);
            overflow: scroll;
            z-index: 1000;
            font-family: darabka;
        }

        #flyoutMenu.show {
            transform: translate3d(0vw, 0, 0);
        }

        #flyoutMenu h2 a {
            color: white;
            margin-left: 15px;
            text-decoration: none;
        }

        #flyoutMenu h2 a:hover {
            text-decoration: underline;
        }
  
